<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Mark submission</title>

	<!-- Google font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400">
	{% load static %}
	<!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "stylesheets/bootstrap.min2.css" %}">
	<!-- Custom stlylesheet -->
    <link rel="stylesheet" href="{% static "stylesheets/style2.css" %}">

</head>
<body 
{% load static %}
style="background-image:url({% static 'images/education.png' %});
    background-size:cover">

<div id="booking" class="section">
<div class="section-center">
	<div class="container">
	<div class="row">
	<div class="booking-form">
		<span class="heading">SEARCH STUDENT</span><br>
		<form method="POST">
		{% csrf_token %}
			<div class="col-md-6">
			<div class="form-group">
				<span class="form-label">Roll Number</span>
				<input class="form-control" type="number" name="rnum" placeholder="student roll no" required>
			</div>
			</div>
			<div class="col-md-3">
			<div class="form-btn">
				<input type="submit" name="add" class="search-btn" value="SEARCH">
			</div>
			</div>
		</form>
		<div class="col-md-3">
		<div class="form-btn">
			<a href={% url 'add' %}><button class="back-btn">BACK</button></a>
		</div>
		</div><br><br><br><br><br><br>
		{% if Stud %}
		<div class="leftside">
			<span class="form-label"> Roll Number </span>
			<span class="form-label"> Name </span>
			<span class="form-label"> Physics </span>
			<span class="form-label"> Maths </span>
			<span class="form-label"> English </span>
			<span class="form-label"> Chemistry </span>
			<span class="form-label"> Total Marks </span>
			<span class="form-label"> Average Marks </span>
			<span class="form-label"> Grade </span>
		</div>
		<div class="dots">
			{% for item in "x"|ljust:"9" %}
			<span class="form-label"> : </span>
			{% endfor%}
		</div>
		<div class="rightside">
			<span class="form-label"> {{Stud.roll_no}} </span>
			<span class="form-label"> {{Stud.name}} </span>
			<span class="form-label"> {{Stud.mark1}} </span>
			<span class="form-label"> {{Stud.mark2}} </span>
			<span class="form-label"> {{Stud.mark3}} </span>
			<span class="form-label"> {{Stud.mark4}} </span>
			<span class="form-label"> {{Stud.total_mark}} </span>
			<span class="form-label"> {{Stud.avg_mark}} </span>
			<span class="form-label"  {% if Stud.grade == "FAIL" %} style="color:red" {% endif %}> {{Stud.grade}} </span>
		</div>
		{% endif %}
	</div>
	</div>
	</div>
</div>
</div>
</body>
</html>