<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "website/sheets/bs1.css" %}">
</head>
<body>
<center>
<a href="https://front.codes/" class="logo" target="_blank">
	<img src="https://assets.codepen.io/1462889/fcy.png" alt="">
</a>

<div class="section">
<div class="card-3d-wrap mx-auto" >
	<div class="card-3d-wrapper" >
		<div class="card-front" style="margin:0 300">
			<div class="center-wrap" style="margin:0 300">
			<div class="section2 text-center" style="margin:0 300">
				<h2 class="mb-4 pb-3">WELCOME, {{userdata.name}} </h2><br>

                <div class='user_details' >
                    <b>Name : </b> {{userdata.name}}<br>
                    <b>Email :   </b> {{userdata.email}}<br>
                    <b>UserName : </b> {{userdata.username}}<br>
                    <b>Password : </b> {{userdata.password}}<br>
                </div><br><br>

                <form method="POST">
                {% csrf_token %}
                <input type="submit" name="logout" class="btn mt-4" value="SIGN OUT"><br></form>
                <a href="{% url 'edit' %}"><button class="btn mt-4">EDIT</button></a>
                
			</div>
			</div>
		</div>
	</div>
</div>
</div>

</body>
</html>


