<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <!-- Font Icon -->
    {% load static %}
    <link rel="stylesheet" href="{% static "stylesheets/material-design-iconic-font.css" %}">
    <!-- Main css -->
    {% load static %}
    <link rel="stylesheet" href="{% static "stylesheets/style.css" %}">
</head>
<body>

<div class="main">
<section class="sign-in">
<div class="container">

<div class="signin-form">
    <h2 class="form-title">Welcome</h2>
    <form method="POST" class="register-form" id="logout-form">
        {% csrf_token %}
    <div class="form-group form-button">
    <input type="submit" name="logout" id="logout" class="form-submit" value="Log Out"/>
    </div>
    </form>

</div>
</div>
</div>
</section>
</div>
</body>
</html>
