
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'PT Sans', sans-serif;
}

.booking-form {
	background: rgba(0, 0, 0, 0.7);
	padding: 50px;
	border-radius: 6px;
	width: 75%;
	margin: auto 100px;
	height: 525px;
}
.heading{
	font-size: 30px;
	display: block;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
	line-height: 24px;
	color: #fff;
}
.marks{
	font-size: 20px;
	display: block;
	text-align: center;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
}
.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;

}

.booking-form .form-control {
	background-color: #fff;
	height: 50px;
	color: #191a1e;
	border: none;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	padding: 0px 25px;

}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control::placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 10px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.form-label {
	display: block;
	margin-left: 20px;
	margin-bottom: 5px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 15px;
	color: #fff;
}

.form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 400;
	color: #fff;
}

.form-checkbox label+label {
	margin-left: 15px;
}

.form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}

.form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #f23e3e;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}
.btn-group{
	margin: auto 50px;
}
.form-btn {
	margin-top: 27px;
}

.normal-btn {
	color: #fff;
	background-color: #666661;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 110%;
	margin-right: 20px;
	margin-left: 70px;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
.submit-btn {
	color: #fff;
	background-color: #f23e3e;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 110%;
	margin-left: 70px;
	margin-right: 20px;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}



.success_msg {
	margin-top: 88px;
	display: block;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
}
.back-btn {
	color: #fff;
	background-color: #666661;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 110%;
	margin-right: 20px;
	margin-left: -22px;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
.search-btn {
	color: #fff;
	background-color: #f23e3e;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 110%;
	margin-left: -16px;
	margin-right: 20px;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
.submit-btn:hover,.submit-btn:focus,
.normal-btn:hover,.normal-btn:focus,
.back-btn:hover,.back-btn:focus,
.search-btn:hover,.search-btn:focus {
	opacity: 0.65;
}
.leftside{
	margin-left: 200px;
}
.dots{
	margin-top: -261px;
	margin-left: 365px;
}
.rightside{
	margin-top: -261px;
	margin-left: 405px;
}