<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Homepage</title>

	<!-- Google font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400">
	{% load static %}
	<!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "stylesheets/bootstrap.min2.css" %}">
	<!-- Custom stlylesheet -->
    <link rel="stylesheet" href="{% static "stylesheets/style2.css" %}">

</head>
<body 
{% load static %}
style="background-image:url({% static 'images/education.png' %});
    background-size:cover">

<div id="booking" class="section">
<div class="section-center">
	<div class="container">
		<div class="row">
			<div class="booking-form">
				<div class="col-md-3">
				<div class="form-btn">
					<a href={% url 'add_book' %}><button class="normal-btn">BOOKAPP</button></a>
				</div>
				</div>
				<div class="col-md-3">
				<div class="form-btn">
					<a href={% url 'log' %}><button class="normal-btn">USER WEBSITE</button></a>
				</div>
				</div>
                <div class="col-md-3">
                <div class="form-btn">
                    <a href={% url 'add' %}><button class="normal-btn">MARKLIST</button></a>
                </div>
                </div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>