<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
	<!-- Google font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400">

  {% load static %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static "stylesheets/bootstrap_table.css" %}">
  <!-- Style -->
  <link rel="stylesheet" href="{% static "stylesheets/style2.css" %}">
  <title>full marklist</title>
</head>
<body {% load static %}
  style="background-image:url({% static 'images/education.png' %});background-size:cover">
<div class="content"> 
  <center>
  <div class="container">
    <div class="heading">Student Marklist<a href={% url 'add' %}>
      <button class="normal-btn">BACK</button></a></div><br>
    <div class="table-responsive custom-table-responsive">
    <table class="table custom-table" style="text-align:center">
    <thead style="background-color: rgba(0, 0, 0, 0.7)"><tr>  
      <th scope="col"> Roll No</th>
      <th scope="col"> Student Name</th>
      <th scope="col"> Physics</th>
      <th scope="col"> Maths</th>
      <th scope="col"> English</th>
      <th scope="col"> Chemistry</th>
      <th scope="col"> Total Marks</th>
      <th scope="col"> Average Marks</th>
      <th scope="col"> Grade</th><th></th><th></th>
    </tr></thead>
    <tbody>
    {% for displayst in Stud %}
    <tr scope="row">
      <td>{{displayst.roll_no}}</td>
      <td style="text-align:left">{{displayst.name}}</td>
      <td>{{displayst.mark1}}</td>
      <td>{{displayst.mark2}}</td>
      <td>{{displayst.mark3}}</td>
      <td>{{displayst.mark4}}</td>
      <td>{{displayst.total_mark}}</td>
      <td>{{displayst.avg_mark}}</td>
      <td {% if displayst.grade == "FAIL" %} style="color:red" {% endif %}>{{displayst.grade}}</td>
      <td><a href="/Edit/{{displayst.id}}">Edit</a></td>
      <td><a href="/Delete/{{displayst.id}}" onclick="return confirm('Are you sure want to delete ?')">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
</center>
</div>
</body>
</html>